* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f8f9f4;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

.footer {
  background: #2e5f2d;
  color: white;
  padding: 20px;
  text-align: center;
}

.page {
  padding: 60px;
}

.section-title {
  font-size: 28px;
  margin-bottom: 20px;
  color: #2e5f2d;
}




::-webkit-scrollbar {
  display: none;
}

/* Firefox */
body {
  scrollbar-width: none;
}

/* Internet Explorer (old) */
body {
  -ms-overflow-style: none;
}