.blogs-page {
  background: #f6f8f5;
}

/* HERO */
.blogs-hero {
  padding: 40px 80px 0 80px;
}

.blog-info{
    min-width: 44vw;
}

.blogs-hero h1 {
  font-size: 32px;
  color: #213f22;
  font-size: 40px;
}

/* LAYOUT */
.blogs-container {
  display: flex;
  gap: 30px;
  padding: 40px 80px;
}

.blogs-main {
  flex: 3;
}

.blogs-sidebar {
  flex: 1;
}

/* FILTER */
.filter-bar {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}

.filter-bar button {
  padding: 10px 18px;
  border: none;
  background: #2e7d32;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  font-weight: 600;
}

.filter-bar .active {
  background: #16491a;
}

/* BLOG ROW */
.blog-row {
  display: flex;
  gap: 20px;
  background: white;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 15px;
  cursor: pointer;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}

.blog-row img {
  width: 180px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
}

.blog-info h3 {
  color: #2e7d32;
  margin-bottom: 8px;
}

.blog-info p {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

.blog-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-meta button {
  border: none;
  background: #2e7d32;
  color: white;
  padding: 6px 14px;
  border-radius: 5px;
  cursor: pointer;
}

/* SIDEBAR */
.sidebar-box {
  background: white;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 25px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
}

.sidebar-box h3 {
  margin-bottom: 12px;
  color: #2e7d32;
}

/* SEARCH */
.search-box {
  display: flex;
}

.search-box input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
}

.search-box button {
  border: none;
  background: #2e7d32;
  color: white;
  padding: 8px 14px;
}

/* SMALL BLOG */
.small-blog {
  display: flex;
  gap: 10px;
  margin-bottom: 12px;
}

.small-blog img {
  width: 60px;
  height: 50px;
  object-fit: cover;
  border-radius: 6px;
}

.small-blog p {
  font-size: 13px;
  color: #444;
}



.search-icon {
  font-size: 18px;
  color: #555;
  cursor: pointer;
}

.search-icon:hover {
  color: #000;
}