.home {
  background: #f6f8f5;
}

/* HERO */
.hero {
  height: 60vw;
  background: url("https://images.unsplash.com/photo-1605000797499-95a51c5269ae")
    center/cover no-repeat;
}

.hero-overlay {
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  padding: 0 80px;
}

.hero-content h1 {
  color: #fff;
  font-size: 48px;
  line-height: 1.3;
}

.hero-content span {
  font-weight: 400;
}

.hero-actions {
  margin-top: 25px;
}

.hero-actions button {
  padding: 12px 28px;
  margin-right: 15px;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  background: #1b431d;
  color: white;
  border: 1px solid white;
}

.hero-actions button:hover{
    border: 1px solid rgb(12, 80, 12);
}

/* CATEGORIES */
.categories {
  /* display: grid;
  grid-template-columns: repeat(5, 1fr); */
  gap: 20px;
  padding: 40px 80px;
  margin-top: -60px;
  background-color: #cde7ce;
  border-radius: 10px;
  max-width: 90vw;

  display: flex;
  align-self: center;
  justify-self: center;
  overflow: scroll;

  border: 2px solid white;
}

.category-card {
  background: #000000;
  border-radius: 10px;
  overflow: hidden;
  color: white;
  text-align: center;
  min-width: 150px;
  height: 300px;
  border: 2px solid rgb(255, 255, 255);
  transition: transform 0.4s ease;
  
  /* box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08); */
}

.imgBox{
    max-height: 250px;
    overflow: hidden;
}

.category-card:hover{
    border: 2px solid rgb(38, 60, 41);
}

.category-card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.category-card p {
  padding: 12px;
  font-weight: 600;
}

/* BLOGS */
.blogs {
  padding: 60px 80px;
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.blog-card {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

.blog-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.blog-card h3 {
  margin: 15px;
  color: #2e7d32;
}

.blog-card p {
  margin: 0 15px 15px;
  font-size: 14px;
}

.blog-card span {
  margin: 0 15px 15px;
  display: inline-block;
  color: #2e7d32;
  font-weight: 600;
}

/* VIDEOS */
.videos {
  padding: 60px 80px;
  background: #f8f9f4;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.video-card {
  position: relative;
  cursor: pointer;
}

/* .video-card:hover{
    width: 90%;
} */

.video-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.play-btn {
  position: absolute;
  font-size: 50px;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* VIDEO MODAL */
.video-modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-box {
  width: 70%;
  height: 400px;
}

.video-box iframe {
  width: 100%;
  height: 100%;
}

/* NEWSLETTER */
/* .newsletter {
  background: #2e7d32;
  color: white;
  padding: 25px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newsletter input {
  padding: 10px;
  width: 260px;
  border: none;
}

.newsletter button {
  background: #fbc02d;
  border: none;
  padding: 10px 20px;
  font-weight: 600;
  cursor: pointer;
} */






.video-container {
  position: relative;
  width: 100%;
  max-width: 600px;
}

.video-container img {
  width: 100%;
  border-radius: 12px;
}

.play-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  cursor: pointer;
}

.play-overlay svg {
  font-size: 60px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.play-overlay:hover svg {
  transform: scale(1.1);
}
