.videos-page {
  padding: 60px 80px;
  background: #f6f8f5;
}

.videos-page h1 {
  color: #2e7d32;
  margin-bottom: 30px;
  font-size: 40px;
  text-align: center;
}

/* CATEGORY GRID
.video-category-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.video-category-card {
  display: flex;
  background: #2e7d32;
  color: white;
  border-radius: 12px;
  overflow: hidden;
  border: 2px solid rgb(255, 255, 255);
}

.video-category-card:hover{
    border: 2px solid rgb(212, 209, 209);
}

.video-category-card img {
    width: 40%;
  min-width: 200px;
  object-fit: cover;
}

.video-category-content {
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video-category-content p{
    margin: 10px;
    text-align: center;
}

.video-category-content button {
  background: #fbc02d;
  border: none;
  padding: 10px 18px;
  margin-top: 10px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 6px;
}

.video-category-content button:hover{
    background: #d5a937;
} */

/* VIDEO GRID */
.video-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.video-card {
  position: relative;
  cursor: pointer;
  
}

.video-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid white;
}

.video-card img:hover{
    border: 2px solid rgb(163, 161, 161);
}

.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: white;
}

/* MODAL */
.video-modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-modal-box {
  width: 70%;
  height: 400px;
}

.video-modal-box iframe {
  width: 100%;
  height: 100%;
}
